@import "@mimir/ui/styles";
@source "../../../packages/ui/src/**/*.svelte";

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
